body{
    background-image: linear-gradient(red, yellow);
}

div{
    left: 450px;
    position: relative;
    margin-top: 200px;
    margin-bottom: 600px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    width: 600px;
    height:230px;
    background-color: white;
}